@model IEnumerable<OrderDetails>
@{
    ViewData["title"] = "Order Details";

}

<h2>Order Details</h2>

<a asp-action="Create" asp-controller="Category" class="btn btn-primary btn-sm">Add New Category</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Code</th>
            <th scope="col">UserName</th>
            <th scope="col">Order Status</th>
            <th scope="col">Order Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.OrderCode</th>
            </tr>
        }

    </tbody>
</table>